.auto {
    padding-top: 90px;
    @include breakpoint($bp-600) {
        padding-top: 50px;
    }
    &__p {
        font-size: 19px;
        line-height: 28px;
        color: black;
        @include breakpoint($bp-1000) {
            font-size: 17px;
            line-height: 26px;
        }
        @include breakpoint($bp-500) {
            padding-bottom: 30px;
        }
    }
    &__img {
        margin-top: -60px;
        img {
            max-width: 100%;
        }
    }
}