.calculator {
    padding: 90px 0;
    @include breakpoint($bp-600) {
        padding: 40px 0;
    }
    &-block {
        background: #27529a;
        border-radius: 10px;
        padding: 35px 25px;
        @include breakpoint($bp-1000) {
            padding: 35px 15px;
        }
        @include breakpoint($bp-500) {
            padding: 35px 5px;
        }
    }
}
.polzunok-block {
    margin-bottom: 70px;
}
.polzunok__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    @include breakpoint($bp-600) {
        font-size: 18px;
    }
    @include breakpoint($bp-500) {
        font-size: 16px;
    }
}
.polzunok__value {
    font-size: 20px;
    @include breakpoint($bp-600) {
        font-size: 16px;
    }
    @include breakpoint($bp-500) {
        font-size: 14px;
    }
}
.polzunok-2 {
    margin-top: -20px;
}
.resualt {
    display: flex;
    align-items: center;
    @include breakpoint($bp-500) {
        flex-direction: column;
    }
    &-block {
        width: 372px;
        background: #fff;
        height: 80px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        @include breakpoint($bp-500) {
            border-bottom-left-radius: 0px;
            border-top-right-radius: 8px;
        }
        &-right {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            @include breakpoint($bp-500) {
                border-bottom-left-radius: 8px;
                border-top-right-radius: 0px;
            }
        }
        @include breakpoint($bp-500) {
            width: 335px;
        }
        @include breakpoint($bp-400) {
            width: 260px;
        }
    }
    &__title {
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
        color: #ba0000;
        text-align: center;
        text-transform: uppercase;
        padding-top: 10px;
        @include breakpoint($bp-1000) {
            font-size: 18px;
            line-height: 30px;
        }
        @include breakpoint($bp-800) {
            font-size: 16px;
            line-height: 30px;
        }
        @include breakpoint($bp-600) {
            font-size: 14px;
            line-height: 30px;
        }
    }
    &__result {
        font-size: 25px;
        line-height: 30px;
        color: black;
        text-align: center;
        font-weight: bold;
        @include breakpoint($bp-1000) {
            font-size: 20px;
            line-height: 25px;
        }
        @include breakpoint($bp-800) {
            font-size: 18px;
            line-height: 30px;
        }
        @include breakpoint($bp-600) {
            font-size: 16px;
            line-height: 30px;
        }
    }
}
.polzunok-text-value {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.polzunok-li {
    list-style: none;
}
