.footer-second {
    background: #27529a;
    padding-top: 65px;
    padding-bottom: 50px;
    &__slider {
        display: flex;
        justify-content: center;
    }
}
.single-slide {
    max-width: 550px;
    margin: 0 auto 40px;
    @include breakpoint($bp-800) {
        max-width: 400px;
    }
    @include breakpoint($bp-600) {
        max-width: 400px;
        margin-bottom: 100px;
    }
    
}
.slider-block {
    background: #ffff;
    border: 3px solid #e9e9e9;
    border-radius: 10px;
    max-width: 550px;
    height: 500px;
    img {
        max-width: 100%;
        max-height: 100%;
    }
    &__title {
        font-size: 25px;
        line-height: 49px;
        color: black;
    }
    &__p {
        font-size: 19px;
        line-height: 49px;
        color: black;
    }
}