.monitoring {
    background: #27529a;
    padding-top: 85px;
    padding-bottom: 70px;
    &-block {
        background: url(../images/monitoring-img.png);
        padding: 55px 0 30px 55px;
        border-radius: 4px;
        position: relative;
        &::after {
            display: block;
            content: '';
            position: absolute;
            background: url(../images/monitoring-img-bg.png);
            width: 381px;
            height: 536px;
            right: 30px;
            top: -35px;
        }
        &__text {
            max-width: 611px;
        }
    }
}