.partner {
    background: #27529a;
    padding-top: 80px;
    padding-bottom: 625px;
    position: relative;
    @include breakpoint($bp-600) {
        padding-top: 40px;
    }
    &::before {
        display: block;
        content: '';
        background: url(../images/partner-bg.png);
        background-repeat: no-repeat;
        position: absolute;
        bottom: -500px;
        left: 0;
        width: 748px;
        height: 1064px;
        z-index: 2;
        @include breakpoint($bp-1600) {
            left: -50px;
        }
        @include breakpoint($bp-1400) {
            left: -120px;
        }
        @include breakpoint($bp-1200) {
            display: none;
        }
    }
    &-blocks {
        background: #e8e8e8;
        border-radius: 10px;
        padding: 45px 60px;
        margin-top: -600px;
        position: relative;
        &__title {
            font-size: 19px;
            line-height: 32px;
            color: black;
            font-weight: 500;
            margin-bottom: 40px;
            @include breakpoint($bp-600) {
                font-size: 17px;
                line-height: 26px;
            }
        }
        @include breakpoint($bp-600) {
            padding: 25px 20px;
        }
    }
    &-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        &__title {
            font-size: 23px;
            line-height: 29px;
            color: black;
            text-align: center;
            margin-top: 20px;
            @include breakpoint($bp-600) {
                font-size: 20px;
                line-height: 25px;
            }
        }
        &__p {
            font-size: 19px;
            line-height: 29px;
            color: black;
            text-align: center;
            max-width: 450px;
            margin-top: 20px;
            &-blue {
                color: #27529a;
            }
            @include breakpoint($bp-600) {
                font-size: 15px;
                line-height: 20px;
            }
        }
    }
}