<footer class="footer">
    <div class="container">
        <div class="footer-block">
            <div class="footer-address">
                <li class="footer-li">Телефон:</li>
                <li class="footer-li">8 800 000 00 00</li>
            </div>
            <div class="footer-logo">
                <img src="assets/images/footer-logo-1.png" alt="">
            </div>
            <div class="footer-logo">
                <img src="assets/images/footer-logo-2.png" alt="">
            </div>
            <div class="footer-politic">
                <a data-fancybox href="#politic-conf" style="text-decoration: underline;">
                    <li class="footer-li">Политика</li>
                    <li class="footer-li">конфиденциальных</li>
                    <li class="footer-li">данных</li>
                </a>
            </div>
        </div>
    </div>
</footer>
