<footer class="footer">
    <div class="container">
        <div class="footer-block">
            <div class="footer-address">
                <li class="footer-li">Юр. данные</li>
                <li class="footer-li">Адрес</li>
                <li class="footer-li">Телефон</li>
            </div>
            <div class="footer-logo">
                <img src="assets/images/footer-logo-1.png" alt="">
            </div>
            <div class="footer-logo">
                <img src="assets/images/footer-logo-2.png" alt="">
            </div>
            <div class="footer-politic">
                <li class="footer-li">Политика</li>
                <li class="footer-li">конфиденциальных</li>
                <li class="footer-li">данных</li>
            </div>
        </div>
    </div>
</footer>
