<header class="header">
    <div class="container">
        <div class="header-top">
            <div class="header-top__logo">
                <img src="assets/images/logo.png" alt="">
            </div>
            <div class="header-top__text">
                спутниковый мониторинг
            </div>
            <div class="header-top__phone">
                <a href="tel:+88000000000">8 800 000 00 00</a>
            </div>
        </div>
        <div class="header-middle">
            <span class="yellow">бизнес на реализации</span> тахографов и услуг спутникового мониторинга <span class="yellow">по франшизе</span>
        </div>
        <div class="header-table">
            Откройте новый офис «Глобал мониторинг» в своём городе 
            и выйдите наплановые показатели от 10 до 12 месяцев
        </div>
        <div class="header-icon">
            <div class="header-icon__item">
                <img src="assets/images/icon-1.png" alt="">
                Работа в трёх сегментах: 
                b2b, b2g, b2c
            </div>
            <div class="header-icon__item">
                <img src="assets/images/icon-2.png" alt="">
                Рекомендации по участию в тендерах
            </div>
            <div class="header-icon__item">
                <img src="assets/images/icon-3.png" alt="">
                От 5% до 10% скидка от оптовых цен
            </div>
            <div class="header-icon__item">
                <img src="assets/images/icon-4.png" alt="">
                Официальный партнёр 
                АО «Глонасс»
            </div>
        </div>
        <div class="header-form">
            <div class="header-form__title">
                Получите подробную информацию о франшизе
            </div>
            <form action="mail.php" method="post" id="form1">
                <!-- Hidden Required Fields -->
                <input type="hidden" name="admin_email[]" value="test@mail.ru">
                <input type="hidden" name="form_subject" value="Первая Форма">
                <div class="form__link">
                    <label for="name"></label>
                    <input type="text" id="fname" data-validate-field="name" name="name" placeholder="Ваше имя">
                    <label for="fname" class="error"></label>
                </div>
                <div class="form__link">
                    <label for="tel"></label>
                    <input type="tel" data-validate-field="tel" name="tel" placeholder="+ _ (___) ___-____">
                </div>
                <div class="form__link">
                    <label for="email"></label>
                    <input type="email" data-validate-field="email" name="email" placeholder="Ваш E-mail">
                </div>
                <button type="submit" value="Submit" class="btn">
                    Получить материалы
                    <img src="assets/images/btn-bg.png" alt="">
                </button>        
            </form>
            <div class="header-form__p">
                Я подтверждаю, что ознакомлен, и даю согласие на обработку персональных данных на условиях и для целей, определяемых политикой конфиденциальности.
            </div>
        </div>
    </div>
</header>
